<div id="config" class="hidden">
	{{config}}
</div>
<div class="full-width">
	<div class="upper" id="sector1-1">
		<div class="wrapper">
			<div class="align-middle">
				<div id="time" class="huge"></div>
				<div id="date" class="medium"></div>
			</div>
		</div>
	</div>
	<div class="upper" id="sector1-2">

	</div>
	<div class="upper" id="sector1-3">
		<div class="wrapper">
			<div class="align-middle">
				<img src="assets/img/default.png" alt="Default Weather Image" id="weather-icon">
				<div class="medium" id="weather-text">--&#176;C - unknown weather</div>
			</div>
		</div>
	</div>
	<div class="middle" id="sector2-1">
		<div class="wrapper">
			<div class="align-top">
				<div style="padding-left: 20px;" class="big">To do:</div>
				<ul class="medium centered" id="todo">
				</ul>
			</div>
		</div>		
	</div>
	<div class="middle" id="sector2-2">
		
	</div>
	<div class="middle" id="sector2-3">
		<div class="wrapper">
			<div class="align-top">
				<div class="big">Afspraken:</div>
				<ul class="medium centered" id="appointments">
				</ul>
			</div>
		</div>	
	</div>
	<div class="bottom" id="sector3-1">

	</div>
	<div class="bottom" id="sector3-2">
		
	</div>
	<div class="bottom" id="sector3-3">
		
	</div>
</div>